@font-face{ 
      font-family: 'web-symbols';
          src: url(/./tinydemo.js/fonts/WebSymbolsLiga-Regular.eot);
          src: url(/./tinydemo.js/fonts/WebSymbolsLiga-Regular.eot?#iefix) format('embedded-opentype'),
               url(/./tinydemo.js/fonts/WebSymbolsLiga-Regular.woff) format('woff'),
               url(/./tinydemo.js/fonts/WebSymbolsLiga-Regular.ttf) format('truetype'),
               url(/./tinydemo.js/fonts/WebSymbolsLiga-Regular.svg#WebSymbolsRegular) format('svg');
}

div.td-scene {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
	text-align: center;
	cursor: default;
	margin: -5px;
}
	div.td-slide {
		display: none;
		opacity: 0;
		padding: 20px;
	}
	/* Title slide design */
	div.td-type-title {
		text-align: center;
		padding-top: 150px;
	}
		div.td-type-title h1 {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: lighter;
			font-size: 48px;
		}
		div.td-type-title h2 {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: lighter;
			color: #666666;
		}
	/* Default slide design */
	div.td-type-default {
		text-align: left;
	}
		div.td-type-default h1 {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 42px;
		}
		div.td-type-default h2 {
			font-family: Trebuchet MS, Helvetica, sans-serif;
			font-style: italic;
			color: #666666;
		}
		div.td-type-default div.td-text, div.td-title, div.td-type-default div.td-htmlcontent, div.td-type-default ul {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 24px;
		}
		div.td-type-default div.td-images {
			text-align: center;
			margin-top: 30px;
		}
			div.td-type-default div.td-images img {
				max-width: 40%;
				max-height: 40%;
				margin: 10px;
			}
	div#td-active {
		position: absolute;
		z-index: 0;
		display: block;
		opacity: 1.0;
		width: 96.75%;
		height: 100%;
		overflow: hidden;
	}
		div#td-controls {
			position: absolute;
			z-index: 1;
			height: 30px;
			margin: -8px;
			bottom: 18px;
			width: 100%;
		}
			div#td-controls div#controls_ {
				padding: 5px;
				text-align: right;
				background-color: #000000;
				opacity: 0;
			    transition: opacity .25s ease-in-out;
			    -moz-transition: opacity .25s ease-in-out;
			    -webkit-transition: opacity .25s ease-in-out;
			}
			div#td-controls div#controls_:hover {
				opacity: 1.0;
			}
				div#td-controls div#controls_ button {
					outline: 0 !important;
					border: none;
					background-color: transparent;
					cursor: pointer;
					color: #cccccc;
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					font-size: medium;
			        -webkit-transition: background 0.25s linear;
			        -moz-transition: background 0.25s linear;
			        -ms-transition: background 0.25s linear;
			        -o-transition: background 0.25s linear;
			        transition: background 0.25s linear;
				}
				div#td-controls div#controls_ button:hover {
					color: #ffffff;
				}
				div#td-controls div#controls_ button#lst {
					font-family: web-symbols;
				}
