div.td-scene {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
	text-align: center;
	cursor: default;
	margin: -5px;
}
	div.td-slide {
		display: none;
		opacity: 0;
		padding: 20px;
	}
	/* Title slide design */
	div.td-type-title {
		text-align: center;
		padding-top: 150px;
	}
		div.td-type-title h1 {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: lighter;
			font-size: 48px;
		}
		div.td-type-title h2 {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: lighter;
			color: #666666;
		}
	/* Default slide design */
	div.td-type-default {
		text-align: left;
	}
		div.td-type-default h1 {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 42px;
		}
		div.td-type-default h2 {
			font-family: Trebuchet MS, Helvetica, sans-serif;
			font-style: italic;
			color: #666666;
		}
		div.td-type-default div.td-text, div.td-type-default div.td-htmlcontent, div.td-type-default ul {
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 28px;
		}
		div.td-type-default div.td-images {
			text-align: center;
			margin-top: 30px;
		}
			div.td-type-default div.td-images img {
				max-width: 40%;
				max-height: 40%;
				margin: 10px;
			}
	div#td-active {
		position: absolute;
		z-index: 0;
		display: block;
		opacity: 1.0;
		width: 96.75%;
		height: 100%;
		overflow: hidden;
	}
		div#td-controls {
			position: absolute;
			z-index: 1;
			height: 30px;
			margin: -8px;
			bottom: 27px;
			width: 100%;
		}
			div#td-controls div#controls_ {
				padding: 5px;
				text-align: right;
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(0,0,0,0.43) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
				opacity: 0;
			    transition: opacity .25s ease-in-out;
			    -moz-transition: opacity .25s ease-in-out;
			    -webkit-transition: opacity .25s ease-in-out;
			}
			div#td-controls div#controls_:hover {
				opacity: 1.0;
			}
				div#td-controls div#controls_ button {
					border: 3px solid #ffffff;
					background-color: #000000;
					color: #ffffff;
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					font-size: medium;
			        -webkit-transition: background 0.25s linear;
			        -moz-transition: background 0.25s linear;
			        -ms-transition: background 0.25s linear;
			        -o-transition: background 0.25s linear;
			        transition: background 0.25s linear;
				}
				div#td-controls div#controls_ button:hover {
					background-color: #333333;
				}